*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-family:'Source Sans Pro', sans-serif;
}

nav ul {
    text-align: center;
}
nav ul li {
    display:inline-block;
    margin:25px 0px;
    font-size:large;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-weight:bold;
    padding: 25px 25px;
}

nav label {
    display:flex;
    color:black;
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    background-color: rgb(0, 110, 255);
    justify-content: center;
}

nav {
    background-color:rgb(0, 110, 255);
}

body {
    background-color: rgb(0, 0, 0);
}

main {
    margin: 50px 50px 50px 50px;
}

.Veyron {
    display: flex;
    transform: translate(50px,0px);
}

.Chiron {
    display:flex;
    justify-content:flex-end;
    transform: translate(-50px,0px);
}

.Divo {
    display:flex;
    transform: translate(50px,0px);
}

.Centodieci {
    display:flex;
    justify-content:flex-end;
    transform: translate(-50px,0px);
}

.Bolide {
    display:flex;
    transform: translate(50px,0px);
}

.Mistral {
    display:flex;
    justify-content:flex-end;
    transform: translate(-50px,0px);
}

.EB110 {
    display:flex;
    transform: translate(50px,0px);
}

.Type57 {
    display:flex;
    justify-content:flex-end;
    transform: translate(-50px,0px);
}

img {
    height:37.5%;
    width:37.5%;
    margin: 50px 50px;
    transition: transform 0.5s ease 0s;
}

.nav li a:hover {
    background:rgb(0, 0, 0);
    color:rgb(0, 110, 255);
}

img:hover {
    transform:scale(1.5);
}
